form{
    margin: 20px 0;
}
form input, button{
    padding: 5px;
}
table{
    width: 150%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #cdcdcd;
}
table th, table td{
    padding: 5px;
    text-align: left;
}

.add-row {
    border-radius: 5px 5px;
    margin-left: 2px;
}
@media (max-width: 768px) {
    table {
        width: 100%;
    }
    .add-row {
        display: block;
    }
}

#SPError {
    color: #ff5722;
    font-weight: bold;
}
