body {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: linear-gradient(-135deg, #31b0d5, #4158d0);
}

#form-div {
    /*width: 960px;*/
    background: #fff;
    padding: 70px 30px 33px 30px;
    width: 60%;
    margin: auto;
    border-radius: 10px 10px;
}

#login-anchor {
    text-align: center;
    font-size: 16px;
}

#error {
    text-align: center;
    font-size: 16px;
    color: red;
}