<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Service Providers</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/ui/ServiceProviders/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/ui/ServiceProviders/vendor/jquery/jquery.min.js') }}"></script>
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/ui/ServiceProviders/dist/simplepicker.css') }}">
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/ui/ServiceProviders/css/resume.min.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/ui/js/bootbox.min.js') }}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="sideNav" style="background-color: #64b5f6;">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Service Providers</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ asset('bundles/ui/images/profile.jpg') }}" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#serviceproviders">Service Providers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#vouchers">Vouchers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#redeem">Redeem Vouchers</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="serviceproviders">
        {% block ServiceProvider %}{% endblock %}
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="vouchers">
        {% block Vouchers %}{% endblock %}

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="redeem">
        Show coupons gallery
    </section>

</div>

{#<script src="{{ asset('bundles/ui/ServiceProviders/vendor/jquery/jquery.min.js') }}"></script>#}
<script src="{{ asset('bundles/ui/ServiceProviders/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ asset('bundles/ui/ServiceProviders/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ asset('bundles/ui/ServiceProviders/js/resume.min.js') }}"></script>

</body>

</html>
