{% extends '::ServiceProviderBase.html.twig' %}

{% block ServiceProvider %}
    <script src="{{ asset('bundles/ui/js/serviceprovider.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/css/serviceprovider.css') }}">
    <div>
        <div id="SPError"></div>
        <form>
            <input type="text" id="name" placeholder="Service Provider Name">
            <input type="number" id="limit" placeholder="Voucher Limit">
            <input type="button" class="add-row btn btn-primary" value="Add">
        </form>
        <table id="SpTable">
            <thead>
            <tr>
                <th>Select</th>
                <th>Service provider ID</th>
                <th>Service Provider Name</th>
                <th>Voucher Limit</th>
            </tr>
            </thead>
            <tbody id="SpTbody">

            </tbody>
        </table>
        <button type="button" class="sp-delete-row">Delete Row</button>
    </div>
{% endblock %}

{% block Vouchers %}
    <script src="{{ asset('bundles/ui/js/vouchers.js') }}"></script>
    <div>
        <div id="error"></div>
        <button id="modalclick" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Click Here to Add Vouchers</button>
        <table style="width: 100%; margin-top: 10px;" id="VTable">
            <thead>
            <tr>
                <th>Redeem</th>
                <th>Voucher ID</th>
                <th>Status</th>
                <th>Expiry Date</th>
                <th>ServiceProvider</th>
                <th>Remark</th>
            </tr>
            </thead>
            <tbody id="VTbody">

            </tbody>
        </table>
        <button type="button" class="redeem">Redeem</button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title float-left" id="exampleModalLabel">Add New Voucher</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="modalerror"></div>
                    <form>
                        <div class="form-group">
                            <label class="control-label">Expiry Date:</label>
                            <div class='input-group date'>
                                {#<input type='text' class="form-control" id="datefield" data-toggle="modal" data-target="#datemodal"/>#}
                                <input type='text' class="form-control" id="datefield"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div id="datetimepicker1">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Service Provider:</label>
                            <div class="dropdown">
                                <button id="spbutton" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Service Provider
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" id="spfield">
                                    <li><a>Big Bazaar</a></li>
                                    <li><a>Reliance</a></li>
                                    <li><a>Max</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Remark</label>
                            <input type="text" class="form-control" id="remarkfield">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addvoucher">Add Voucher</button>
                </div>
            </div>
        </div>
{% endblock %}