<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="{{ asset('bundles/ui/images/icons/favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/vendor/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/css/main.css') }}">
    <script src = "{{asset('bundles/ui/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('bundles/ui/vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{asset('bundles/ui/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/ui/vendor/select2/select2.min.js')}}"></script>
    <script src="{{asset('bundles/ui/vendor/tilt/tilt.jquery.min.js')}}"></script>
    <script src="{{asset('bundles/ui/js/login.js')}}"></script>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{{ asset('bundles/ui/images/img-01.png') }}" alt="IMG">
                </div>

                <form class="login100-form" >
                    <div style="text-align:center;" class="blinking">

                    </div>
            <span class="login100-form-title">
						Member Login
					</span>

                    <div class="wrap-input100">
                        <input id="input-username" class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100">
                        <input id="input-password" class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
                        <a class="txt2" href="forgot">
                            Username / Password?
                        </a>
                    </div>

                    <div class="text-center p-t-15">
                        <a class="txt2" href="signup">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{asset('bundles/ui/js/login.js')}}"></script>
</body>
</html>
