<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <title>Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ui/css/signup.css') }}">
    <script src="{{ asset('bundles/ui/js/signup.js') }}"></script>
</head>
<body>
<div class="container">
    <h2 style="text-align: center;color: #fff;font-weight:bold; ">SIGNUP</h2>
    <div id="form-div">
        <div id="error"></div>
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>
            <div class="form-group">
                <label for="cnf-pwd">Repeat Password:</label>
                <input type="password" class="form-control" id="cnf-pwd" placeholder="Re-Enter password" name="pwd">
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        <br>
        <div id="login-anchor">
            <a class="txt2" href="login">
                Back To Login
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
</body>
</html>
